/*Inicio*/
#main {
	width: 80%;
	margin: 4% auto;
}
#brand {
	width: 20%;
	float: right;
	height: 30%;
}
#nav {
	width: 75%;
	text-align: center;
	margin: 0%;
	padding: 1%;
}
#nav ul {
	list-style: none;	
}
#nav li {
	display: inline-block;
	padding: 20px;
	margin-right: 10%;
}
#brand2 {
	text-align: center;
}
#iniciocenter {
	text-align: center;
}
#iniciocenter h1 {
	text-decoration: underline;
}
#iniciocenter h2 {
	color:red;
}
#iniciocenter p {
	text-align: justify;
}
#fotosinicio {
	width: 80%;
	margin: 0px auto;
	text-align: center;
}
.linea {
	display: inline-block;
}
.linea p {
	font-weight: bold;
}
#footer {
	text-align: center;
	background-color: #00FFFF;
}
#footer p{
	font-weight: bold; 
}
/*otros*/

div#tamanio {
	width: 100%;
	margin: 0%;
}
div#izq {
	width: 50%;
	float: left;	
	margin-right: 0px;
}
div#der {
	width: 50%;
	margin-left: 0px;
	float: right;
}
.formulario {
	position: relative;
	top:;
	bottom:;
	right:;
	left:150px;
	text-align: center;
	img
}	
.mapa {
	position: relative;
	top:;
	bottom:290px;
	right:;
	left:875px;
}
#co-listas {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#co-listas li {
	width: 300px;
	display: inline-block;
	text-align: center;
}
.linea {
	text-decoration: underline; 
}
#d-principal {
    width: 100%;
    height: 100%;
    margin: 0%;
    text-align: center;
}
#d-principal h1 {
	text-decoration: underline; 
}
#d-principal p {
	font-weight: bold;
}
#d-left {
	width: 50%;
	float: left;
}
#d-right {
	width: 50%;
	float: right;
}
/*catalogo*/
#ca-main {
	width: 100%;
}
#ca-listas {
	width: 20%;
	float: left;
	padding-left: 0px !important; 
}
#ca-listas li {
	list-style: none;
}	
#ca-listas ul {
	padding-left: 0px !important; 
}
#ca-columnas {
	width: 80%;
	display: inline-block;
	float: right;
}
#ca-columnas h3 {
	text-decoration: underline;	
}
#ca-columnas p {
	font-weight: bold;
}	
.columnas2 {
	width: 33%;
	display: inline-block;
}

